.profile {
  margin: 0 auto;
  text-align: center;
  width: 290px;
}

.profile h4 {
  color: #1a1b1c;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 48px;
}

.profile button {
  align-items: center;
  color: #797d86;
  display: flex;
  font-size: 16px;
  font-weight: 500;
  gap: 22px;
  letter-spacing: 0.5px;
  margin: 25px 32px;
  text-transform: capitalize;
}
