.progress-header {
  height: 165px;
  position: relative;

}

.progress-header > img {
  height: 165px;
  object-fit: cover;
  position: absolute;
  width: 100%;
  z-index: -1;

}

.progress-header button {
  background: none;
  border: none;
}

.progress-header > h2 {
  color: white;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 2.1px;
  text-align: center;
  text-transform: uppercase;
}

.progress-header-content > div {
  align-items: center;
  color: #fcc436;
  display: flex;
  gap: 16px;
}

.progress-header-content {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  padding: 16px;
}

.progress-content {
  margin-top: 16px;
  padding: 14px;
}

.progress-content h3 {
  color: #1a1b1c;
  font-size: 20px;
  font-weight: 700;
  margin-left: 10px;
}

.progress-content button {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  padding: 10px;
  text-transform: uppercase;
}

.ingredient-input {
  accent-color: #fcc436;
  appearance: none;
  border: 2px solid #fcc436;
  border-radius: 3px;
  height: 17px;
  position: relative;
  width: 17px;
}

.ingredient-input:checked:before {
  color: #fcc436;
  content: '\2713';
  font-size: 12px;
  font-weight: 700;
  left: 2px;
  position: absolute;
  top: -3px;
}

.progress-ingredients ul {
  border: 0.5px solid #b1b1b1;
  border-radius: 5px;
  padding: 15px 18px;
}

.progress-ingredients li {
  list-style: none;
}

.progress-ingredients li:has( .ingredient-input:checked ) {
  color: #ccc;
  text-decoration: line-through solid black;
}

.progress-ingredients li > label {
  align-items: center;
  display: flex;
  gap: 8px;
}

.progress-instructions {
  border: 0.5px solid #b1b1b1;
  border-radius: 5px;
  padding: 20px 16px;
}
